
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header>

    <div class="logo">
        <img th:src="@{/img/logoGestor.png}" alt="logo" width="200px" height="auto">
    </div>

    <div class="header-right">
        <a th:href="@{/registro}"><button class="header-btn">Registrarse</button></a>
        <a th:href="@{/}"><button class="header-btn">Home</button></a>
    </div>

</header>

<section id="login" class="login-section">

    <div th:if="${errorMsg}" style="color: #ff4d4d; margin-bottom: 15px; text-align: center; font-weight: bold;">
        <p th:text="${errorMsg}"></p>
    </div>
    <div th:if="${logoutMsg}" style="color: #2ecc71; margin-bottom: 15px; text-align: center; font-weight: bold;">
        <p th:text="${logoutMsg}"></p>
    </div>

    <form th:action="@{/login}" method="post" class="login-box">

        <h2>Acceso Interno</h2>

        <div class="input-group">
            <input 
                type="email"
                name="username"
                placeholder="Correo corporativo"
                required>
        </div>

        <div class="input-group">
            <input 
                type="password"
                name="password"
                placeholder="Contraseña"
                required>
        </div>

        <button type="submit" class="login-submit">
            INICIAR SESIÓN
        </button>

    </form>

</section>

<footer>

    <div class="footer-grid">

        <div class="footer-box">

            <h3>INTERNAL</h3>

            <p>
                Plataforma interna para la gestión
                de operaciones y coordinación empresarial.
            </p>

        </div>

        <div class="footer-box">

            <h3>Empresa</h3>

            <p>
                Infraestructura<br>
                Seguridad<br>
                Soporte<br>
                Configuración
            </p>

        </div>

        <div class="footer-box">

            <h3>Contacto</h3>

            <p>
                soporte@empresa.com<br>
                +34 600 000 000<br>
                Valencia · España
            </p>

        </div>

    </div>

</footer>

</body>
</html>