<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Proyectos</title>
<link rel="stylesheet" th:href="@{/css/proyecto.css}">
   
</head>

<body>

<div class="container">

    <div class="topbar">
        <h1>Proyectos</h1>

        <a class="btn" th:href="@{/proyectos/nuevo}">
            + Nuevo Proyecto
        </a>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${listaProyectos}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.nombre}"></td>
            <td th:text="${p.descripcion}"></td>
            <td th:text="${p.estado}"></td>

            <td>
                <a class="btn danger"
                   th:href="@{/proyectos/eliminar/{id}(id=${p.id})}">
                    Eliminar
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>