<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Landing Page</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body id="top">

  <!-- HEADER -->

  <header>
    <div class="logo">
      <img th:src="@{/img/logoGestorSinFondo.png}" width="140px" height="50px">
    </div>
    
    <button class="login-btn">
      Login
    </button>
  </header>

  <!-- HERO -->

  <section class="hero">

    <div class="bg-blur"></div>
    <div class="bg-blur two"></div>

    <button class="hero-btn">
      EMPEZAR
    </button>

  </section>

  <!-- REGISTER -->

  <section class="register-section">

    <div class="register-card">

      <h2>Crear Cuenta</h2>

      <div class="input-group">
        <input type="text" placeholder="Nombre">
      </div>

      <div class="input-group">
        <input type="email" placeholder="Correo electrónico">
      </div>

      <div class="input-group">
        <input type="password" placeholder="Contraseña">
      </div>

      <button class="register-btn">
        Registrarse
      </button>

    </div>

  </section>

  <!-- FOOTER -->

  <footer>

    <div class="footer-content">

      <div class="footer-box">
        <h3>LOGO</h3>
        <p>
          Landing moderna con diseño futurista,
          efectos glassmorphism y animaciones suaves.
        </p>
      </div>

      <div class="footer-box">
        <h3>Empresa</h3>
        <p>
          Sobre nosotros<br>
          Servicios<br>
          Privacidad<br>
          Términos
        </p>
      </div>

      <div class="footer-box">
        <h3>Contacto</h3>
        <p>
          contacto@empresa.com<br>
          +34 600 000 000<br>
          Valencia, España
        </p>

        <a href="#top">
          <button class="top-btn">
            ↑ Subir
          </button>
        </a>
      </div>

    </div>

  </footer>

</body>
</html>